<div class="grid-container">

  <!-- HEADER -->
  <header class="header">
      <img class="logomark" src="/images/WR_combomark.png">
      <button class="btn btn-outline-info header-btn" id="notify-toggle"><span class="fas fa-bell btn-notifications"></span></button>
      <a href="./auth/google"><button class="btn btn-outline-info">Log In</button></a>
  </header>
  
  <!-- LEFT -->
  <section class="left">

  </section>

  <!-- FOOTER -->
  <!-- <footer class="footer"><p>Footer</p></footer> -->
</div>