<div class="grid-container-welcome">

  <!-- HEADER -->
  <header class="header">
      <button class="btn btn-outline-secondary header-btn" id="notify-toggle" disabled><span class="fas fa-bell btn-notifications"></span></button>
      <a href="./auth/google"><button class="btn btn-outline-info">Log In</button></a>
  </header>
  
  <!-- LEFT -->
  <section class="left">

    <div class="container">
      <img class="logomark-header" src="/images/WR_combomark.png">
    </div>

    <div class="container welcome-container">
      <p>
        Welcome to <strong>WELL REPORTER</strong>, the secure, personalized management system of petroleum and natural gas well regulatation in accordance
        with the <a href="https://www.rrc.state.tx.us/">Railroad Commission of Texas</a>.
      </p>

      <img class="img-header" src="/images/oil-well-1.jpg">
      
      <p>
        Each <strong>WELL REPORTER</strong> account includes access to all necessary operational forms and contracts attached to automatic calendars for 
        timely administration of energy-producing wells.
      </p>

      <img class="img-header" src="/images/oil-well-kim_comp.jpg">

      <p>
        All information is confidential, personalized, and up-to-date in accordance with state regulations.
      </p>
      <p>
        Create an account with <strong>WELL REPORTER</strong>, record your data, and never miss a lease renewal or inspection again!
      </p>
    </div>

  </section>

  <!-- FOOTER -->
  <!-- <footer class="footer"><p>Footer</p></footer> -->
</div>
