/* G E N E R A L */
* { box-sizing: border-box; }

html, body {
  background: linear-gradient(rgba(11, 12, 16, .9), rgba(11, 12, 16, .9)), url("../images/oil-well-2.jpg") no-repeat fixed center; 
  background-size: cover;
  color: #fff;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width:100vw;
}

h1 {
  font-family: 'Kanit', sans-serif;
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-areas: "header header" "left right" "footer footer";
  grid-column-gap: 10px;
}

.left, #notify-box, .login-box, .footing { padding: 1.2rem; }

hr {
  border-color: #45A29E;
}

a {
  color: #45A29E;
}

strong {
  color: #66FCF1;
}

/* H E A D E R  &  F O O T E R */
.header {
  grid-area: header;
  padding: .75rem 2rem;
  background-color: #0B0C10;
  display: flex;
  z-index: 1;
}

.footer { 
  grid-area: footer;
  text-align: center;
}

.logomark { height: 35px; }

.header-btn {
  margin-right: 1.2rem;
  margin-left: auto;
}

/* W E L C O M E */
.grid-container-welcome {
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-areas: "header header" "left left" "footer footer";
  grid-column-gap: 10px;
}

.logomark-header { 
  width: 100%; 
  margin: 2.5rem auto 3.7rem;
}

.img-header { 
  width: 100%; 
  margin: 1.5rem auto;
}

.container {
  padding: 0;
}

/* .welcome-container2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  align-items: flex-start;
} */

.welcome-container {
  background-color: #1F2833;
  padding: 1.5rem;
}

p {
  font-size: 1.2rem;
  letter-spacing: .5px;
}

/* S I D E B A R */
#notify-box {
  grid-area: right;
  background-color: #1F2833;
  border-left: 5px solid #45A29E;
  overflow: hidden;
  position: relative;
  height: 100%;
  z-index: 0;
}

.slider {
  overflow-y: scroll;
  height:100%;
  -webkit-transition:-webkit-transform .3s ease;
      -moz-transition:   -moz-transform .3s ease;
        -ms-transition:    -ms-transform .3s ease;
            transition:        transform .3s ease;
  -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
          box-sizing:border-box;
}

.slider.opened { 
  -webkit-transform: translate(0, 0%);
     -moz-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

.slider.closed {
  -webkit-transform: translate(0, -100%);
     -moz-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.fa-file-alt { padding-right: 10px; }

/*ADD MODAL BUTTONS*/
@import url('https://fonts.googleapis.com/css?family=Lato');

.menu {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #ff0000;
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}


/* M A I N */
.left { 
  grid-area: left; 
  padding-left: 2rem;
}

.reg-form {
  background-color: #0B0C10;
  padding: 1rem;
  margin: 2rem auto;
}

/* M O B I L E */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header' 'right right' 'left left' 'footer footer';
  }
}

/* STRIKING AND SIMPLE
#0B0C10 - almost black
#1F2833 - blue gray
#C5C6C7 - light gray
#66FCF1 - light teal
#45A29E - dark teal */